{
    "Presets": [
        {
            "name": "example",
            "description": "example description",
            "entries": [
                {
                    "path": "example/path",
                    "type": "File"
                }
            ]
        }
    ]
}
